*~
*.zip
*/datasets
*/ncbi_dataset
*workdir/files
*/checkm_out
*/*.jsonl
*.dmanifest
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.bai
*.sam

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

*quast_results/latest

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp
